/** Color Pallet **/

$primary:  #E59000;
$secondary: #E59000 ;
$white:white;
$black: #151515;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  trixl: 1600px,
  quadxl: 1800px,
);

/** Font Weight **/

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
