html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media (max-width: 576px) {
    font-size: 50%; // 1rem = 8px
  }
  scroll-behavior: smooth;
}

main {
  position: relative;
}

body {
  background-color: #1C1C1C;
}


.header {
  background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 9;
  .menubar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(sm)  {
        gap: 3rem;
      }

      .logo_nav{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8.4rem;

        @include media-breakpoint-down(xl) {
          gap: 6.4rem;
        } 

        .logo {
          img {
            @include media-breakpoint-down(sm) {
              width: 10rem;
            }
          }
        }

        .navbar {
          @include media-breakpoint-down(lg) {
            display: none;
          } 
          ul {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2rem;

            @include media-breakpoint-down(xl)  {
              gap: 1.5rem;
            }

            li {
               a {
                font-size: 1.8rem;
                font-weight: 700;
                color: $white;

                @include media-breakpoint-down(xl)  {
                  font-size: 1.6rem;
                }

              
               }
            }
          }
        }

      }

      .contact_details {
        ul {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 2rem;

          @include media-breakpoint-down(xl)  {
            gap: 1.5rem;
          }
          
          

          li {
            
            img {
              @include media-breakpoint-down(sm) {
                width: 4rem;
              }
            }

            button {
              border-radius: 3rem;
              display: flex;
              justify-content: start;
              align-items: center;
              background-color: $primary;
              border: none;
              padding: 4px 15px 4px 15px;
              height: 5rem;
              font-size: 2.4rem;
              font-weight: $bold;
              gap: 8px;
              color: $white;

              @include media-breakpoint-down(xl) {
                font-size: 1.6rem;
              }

              @include media-breakpoint-down(sm) {
                font-size: 1.4rem;
                padding: 4px 8px;
              }

              img {
                @include media-breakpoint-down(sm)  {
                  width: 2rem;
                }
              }
            }
          }
        }
      }

  }
}



.banner_section{
  background-image: url(../images/banner_tyre.png);
  background-repeat: no-repeat;
  width: 100%;
  // height: 440px;
  // margin-top: -10rem;
  background-size: contain;
  background-position: right;
  position: relative;

  @include media-breakpoint-down(md) {
      margin-top: 0;
  }

  @include media-breakpoint-up(xl) {
      height: 692px !important;
  }

  .order_box {
      padding: 3rem 4.5rem 4.5rem 4.5rem;
      position: absolute;
      top: 270px;
      left: 50%;
      transform: translateX(-50%);
      // box-shadow: 0px 4px 100px 0px #0000001A;
      // background-color: rgb(0 0 0 / 67%);
      max-width: 114rem;
      width: 100%;
      margin: auto;
      z-index: 4;

      @include media-breakpoint-down(sm) {
          padding: 3rem 1.5rem 4.5rem 1.5rem;
      }
      

      &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background-color: #19715C;
          height: 6px;
          z-index: 9;
          display:  none !important;
      }

      h2 {
          font-size: 4rem;
          color: $white;
          font-weight: $bold;
          text-align: start !important;

          @include media-breakpoint-down(sm) {
              font-size: 3.5rem;
          }
      }

      .nav {
          justify-content: start;
          margin-top: 3rem;

          .nav-item {
              padding: 1.4rem 3rem 0 3rem;
              background-color: #F1F1F1;

              @include media-breakpoint-down(sm) {
                  padding: 1.4rem 1rem 0 1rem;
              }

              .nav-link {
                  font-size: 1.6rem;
                  font-weight: $medium;
                  color: #676767;
                  padding: 0;
                  padding-bottom: 1.1rem;

                  &.active {
                      background-color: unset;
                      position: relative;
                      color: $secondary;
                      font-weight: $semibold;

                      &:after {
                          content: "";
                          position: absolute;
                          background: $primary;
                          border-radius: 100px, 100px, 0px, 0px;
                          height: 3px;
                          width: 100%;
                          bottom: 0;
                          left: 0;
                      }
                  }

              }
          }

      }

      .tab-content {
          .tab-pane {
              background-color: rgba(0, 0, 0 , .2)
              ;
              box-shadow: 0px 0px 40px 0px #00000033;
              padding: 3rem 2.1rem;
              border-radius: 3rem;

              .register_wrapper {
                  display: flex;
                  justify-content: space-between;
                  gap: 2rem;
                  align-items: center;

                  @include media-breakpoint-down(lg) {
                      flex-wrap: wrap;
                      flex-direction: column;
                  }
                  .register_box {
                      background-color: #FFCD02;
                      border: 2px solid $black;
                      height: 6rem;
                      padding: 1.5rem 1.5rem 1.5rem 0;
                      max-width: 41.9rem;
                      width: 100%;
                      display: flex;
                      justify-content: start;
                      position: relative;
                      padding-left: 2.5rem;
                      display: flex;
                      align-items: center;

                      @include media-breakpoint-down(lg) {
                          height: 50px;
                      }

                      @include media-breakpoint-down(lg) {
                          max-width: 23rem;
                      }

                      @include media-breakpoint-down(lg) {
                          max-width: 100%;
                      }

                    


                      .blue_box {
                          background-color: #2655DA;
                          max-width: 2rem;
                          width: 100%;
                          height: 56px;
                          position: absolute;
                          top: 0;
                          left: 0;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          flex-direction: column  ;
                          gap: 6px;

                          @include media-breakpoint-down(lg) {
                              height: 46px;
                          }
                      

                          h6 {
                              font-size: 9px;
                              font-weight: $bold;
                              color: $white;
                              line-height: 2.4rem;
                          }

                      }

                      .input_group {
                          input {
                              font-size: 1.8rem;
                              font-weight: $bold;
                              color: $black;
                              background-color: transparent;
                              border: none;
                              width: 100%;

                              &::placeholder {
                                  color: #000000;
                              }

                              @include media-breakpoint-down(lg) {
                                  font-size: 1.4rem;
                              }
                          }
                      }



                  }

                  .size_select {
                      display: flex;
                      justify-content: start;
                      align-items: center;
                      gap: 9px;

                      @include media-breakpoint-down(sm) {
                          flex-wrap: wrap;
                      }

                      .nice-select {
                          @include media-breakpoint-down(sm) {
                              width: calc(100% / 2 - 9px);
                          }
                      }
                  }

                  .select_radio {
                      display: flex;
                      align-items: center;
                      gap: 2rem;

                      li {
                          gap: 7px;
                          display: flex;
                          justify-content: start;
                          align-items: center;

                          input {
                              width: 2rem;
                              height: 2rem;
                              accent-color: $secondary;
                          }

                          h6 {
                              font-size: 1.6rem;
                              font-weight: $bold;
                              color: $secondary;
                              margin-top: 3px;

                              @include media-breakpoint-down(lg)  {
                                  font-size: 1.4rem;
                              }
                          }
                      }
                  }

                  .search_btn {
                      padding: 1.1rem 2.5rem;
                      background: $primary;
                      font-size: 1.6rem;
                      font-weight: 700;
                      color: white;
                      border: none;
                      height: 60px;
                      transition: .3s ease-in-out;
                      border: 1px solid transparent;

                      @include media-breakpoint-down(lg)  {
                          height: 50px;
                          font-size: 1.4rem;
                      }

                      @include media-breakpoint-down(lg) {
                          display: block;
                          width: 100%;
                      }

                      &:hover {
                          color: $secondary;
                          border: 1px solid $secondary;
                          background: $white;
                          transition: .3s ease-in-out;
                      }


                  }
              }
          }
      }

  }

}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: 'Urbanist';
}
.lato {
  font-family: "lato";
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

section {
  max-width: 100vw;
}

p {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

label {
  margin: 0;
  padding: 0;
}

button {
  text-transform: capitalize;
  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}


.overflow_hidden {
  overflow: hidden;
}




.container {
  padding: 0 79px;
  max-width: 1440px;

  @include media-breakpoint-down(xl)  {
    padding: 0 50px;
  }

  @include media-breakpoint-down(lg)  {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }

}

ul,
li {
  padding: 0;
  list-style: none;
  margin: 0px;
}

.form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}



// header 

.header {

  &.is-sticky {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-animation: slideDown 0.35s ease-out;
    animation: slideDown 0.35s ease-out;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.2rem 0;
    z-index: 50;
    padding-top: 0;


    @include media-breakpoint-down(md) {
      background-color: rgba(0, 0, 0, 0.8);
    }



    .page_header {
      padding: 2.1rem 0 0 0 !important;
      background-color: #000001;

      .menu_bar {
        padding: 1rem !important;
      }
    }
  }

  .sub_header{
    background-color: $secondary;
    padding: 15px 0;

    .sub_headerwrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .office_time {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        font-weight: $medium;
        color: $white;

        @include media-breakpoint-down(lg) {
          font-size: 1.4rem;
        }
      }
  
      .profile_cart {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.3rem;
      }
    }
  }
  .page_header {
    padding: 2.1rem 0 4rem 0;
    position: relative;
    z-index: 8;
    background-color: #000001;

    @include media-breakpoint-down(md) {
      padding: 2.1rem 0;
    }
      .logo_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.8rem;

        @include media-breakpoint-down(md) {
          padding-bottom: 0;
        }

        .logo {
          @include media-breakpoint-down(lg) {
            max-width: 14rem;
            width: 100%;
          }

          img {
            @include media-breakpoint-down(lg) {
              width: 100%;
            }
          }
        }

        .contact_details {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 4rem;

          @include media-breakpoint-down(md) {
            gap: 2rem;
          }

          @include media-breakpoint-down(sm) {
            gap: 1.3rem;
          }

          .location {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            @include media-breakpoint-down(sm) {
              gap: .6rem;
            }



            img {
              @include media-breakpoint-down(md) {
                width: 33px;
                height: 33px;
              }
              @include media-breakpoint-down(sm) {
                width: 28px;
                height: 28px;
              }
            }

            span {
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              
            @include media-breakpoint-down(lg) {
              font-size: 1.5rem;
            }
            @include media-breakpoint-down(md) {
              font-size: 1.3rem;
            }
            @include media-breakpoint-down(md) {
              display: none;
            }
            }

          }

          .toggle {
            display: none;
            cursor: pointer;
            position: relative;
            z-index: 98;

            @include media-breakpoint-down(md)  {
              display: block;
            }

            svg {
              width: 33px;
              height: 33px;
              @include media-breakpoint-down(sm) {
                width: 28px;
                height: 28px;
              }
              rect {
                fill: $secondary;
              }
            }

          }

        }

      }

      .menu_bar {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.8rem;
        background: $primary;
        border-bottom: 7px solid $white;
        transition: .3s ease-in-out;

        @include media-breakpoint-down(md) {
          position: absolute;
          top: 0;
          left: 0;
          height: 100vh;
          right: 0;
          z-index: 9;
          transform: translateY(-120%);
          transition: .3s ease-in-out;
        }

        &.active {
          transform: translateY(-6%);
          transition: .3s ease-in-out;
        }


        ul {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 5rem;

          @include media-breakpoint-down(xl) {
            gap: 3rem;
          }

          @include media-breakpoint-down(md) {
            flex-direction: column;
            gap: 6rem;
            width: 100%;
            align-items: center;
            justify-content: center;
          }

          li {
            a {
              font-size: 1.6rem;
              font-weight: 500;
              color: $white;
              position: relative;

              &:after {
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: "";
                color: transparent;
                background: #5dedca;
                height: 2px;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
              }
    
              &:hover {
                color: #5dedca;
                &:after {
                  width: 100%;
                  transition: .3s ease;
                }
              }
            }
          }

        }

        .search_bar {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }

      }

  }
}

//header end




// footer 


footer {
  background-color: #000001;
  padding-bottom: 3.3rem;
  .main_footer {
    padding: 4.3rem 0;

   

    .logo {
      position: relative;



      img {
        @include media-breakpoint-down(lg) {
          width: 100%;
          max-width: 14rem;
        }
      }
      
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 60%;
        height: 4px;
        background-color: #343434;
        
        @include media-breakpoint-down(xl) {
          width: 50%;
        }
        @include media-breakpoint-down(sm) {
          width: 30%;
        }
      }
    }

    .quick_links_newsletter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem;

      @include media-breakpoint-down(xl) {
        flex-direction: column;
        align-items: start;
        gap: 4rem;
      }


      .map_quicklinks {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5.3rem;

        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }

        .map {
          img {
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }
        }


        .quick_links{
          h3 {
            font-weight: $semibold;
            font-weight: 2.4rem;
            color: $secondary;
          }
          ul {
            margin-top: 2.6rem;
            display: flex;
            justify-content: start;
            align-items: center;
            max-width: 40.2rem;
            width: 100%;
            gap: 5rem;
            flex-wrap: wrap;

            @include media-breakpoint-down(xl) {
              max-width: 100%;
              gap: 3rem;
            }

            li {
              svg {
                path {
                  fill: $white;
                }
              }
              a {
                font-size: 1.8rem;
                font-weight: $semibold;
                color: $white;
                position: relative;

         

                &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 0%;
                  content: "";
                  color: transparent;
                  background: $secondary;
                  height: 2px;
                  -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
                }
      
                &:hover {
                  &:after {
                    width: 100%;
                    transition: .3s ease;
                  }
                }
              }
            }
          }
        }

      }

      .news_letter {
        h4 {
          font-size: 2rem;
          font-weight: $bold;
          color: $white;
        }

        .input_wrapper {
          margin-top: 1.8rem;
          display: flex;
          align-items: center;
          gap: 2rem;

          input {
            background-color: #161616;
            padding: 1.4rem .8rem;
            height: 4.8rem;
            font-size: 1.6rem;
            font-weight: $medium;
            color: #676767;
            border: none;
            transition: .3s ease-in-out;
            border: 1px solid #161616;

            @include media-breakpoint-down(xl) {
              width: 500px;
            }
            @include media-breakpoint-down(md) {
              width: 380px;
            }
            @include media-breakpoint-down(sm) {
              width: 100%;
            }

            &:focus {
              border: 1px solid $secondary;
              transition: .3s ease-in-out;
            }
            &:hover {
              border: 1px solid $secondary;
              transition: .3s ease-in-out;
            }
          }

          button {
            padding: 1.1rem 2.5rem;
            background: $primary;
            font-size: 1.6rem;
            font-weight: $bold;
            color: $white;
            border: none;
            transition: .3s ease-in-out;
            border: 1px solid transparent;

            
            &:hover {
              color: $secondary;
              border: 1px solid $secondary;
              background: $white;
              transition: .3s ease-in-out;
          }
          }

        }

      }

    }

    .contact_details {
      margin-top: 5rem;
      ul {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4rem;

        @include media-breakpoint-down(xl)  {
          flex-wrap: wrap;
        }

        @include media-breakpoint-down(sm)  {
          gap: 2rem;
        }

        li {
          padding: 2rem 1.4rem;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1rem;
          max-width: 27.8rem;
          width: 100%;
          background-color: #161616;

          @include media-breakpoint-down(xl)  {
            max-width: calc(100% / 2 - 4rem);
          }

          @include media-breakpoint-down(sm)  {
            max-width: 100%;
            width: 100%;
          }

          label {
            // background-image: linear-gradient(180deg, #B57BEE 0%, #392D69 100%);
            // -webkit-background-clip: text; /* For Safari */
            // background-clip: text;
            color: white;
            display: block;
            font-size: 1.4rem;
            font-weight: $semibold;
          }

          .mail {
            label {
              // background-image: linear-gradient(180deg, #B57BEE 0%, #392D69 100%);
              // -webkit-background-clip: text; /* For Safari */
              // background-clip: text;
              color: white;
              display: block;
              font-size: 1.4rem;
              font-weight: $semibold;
            }

            a {
              // background-image: linear-gradient(180deg, #B57BEE 0%, #392D69 100%);
              // -webkit-background-clip: text; /* For Safari */
              // background-clip: text;
              color: white;
              display: block;
              font-size: 1.8rem;
              font-weight: $semibold;
            }

            .social_links {
              display: flex;
              align-items: center;
              gap: 1rem;
            }

          }

        }
      }
    }

  }

  .sub_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm)  {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .copy_right {
      font-weight: $medium;
      font-size: 1.8rem;
      color: $white;

      @include media-breakpoint-down(xl)  {
        font-size: 1.5rem;
      }
    }

    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.6rem;



      



      li {
        a {
          font-weight: $medium;
          font-size: 1.8rem;
          color: $white;
          position: relative;

          @include media-breakpoint-down(xl)  {
            font-size: 1.5rem;
          }

          &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: "";
            color: transparent;
            background: $secondary;
            height: 2px;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
          }

          &:hover {
            &:after {
              width: 100%;
              transition: .3s ease;
            }
          }

        }
      }
    }

  }

}


.register_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;

  @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      flex-direction: column;
  }
  .register_box {
      background-color: #FFCD02;
      border: 2px solid $black;
      height: 6rem;
      padding: 1.5rem 1.5rem 1.5rem 0;
      max-width: 41.9rem;
      width: 100%;
      display: flex;
      justify-content: start;
      position: relative;
      padding-left: 2.5rem;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
          height: 50px;
      }

      @include media-breakpoint-down(lg) {
          max-width: 23rem;
      }

      @include media-breakpoint-down(lg) {
          max-width: 100%;
      }

    


      .blue_box {
          background-color: #2655DA;
          max-width: 2rem;
          width: 100%;
          height: 56px;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column  ;
          gap: 6px;

          @include media-breakpoint-down(lg) {
              height: 46px;
          }
      

          h6 {
              font-size: 9px;
              font-weight: $bold;
              color: $white;
              line-height: 2.4rem;
          }

      }

      .input_group {
          input {
              font-size: 1.8rem;
              font-weight: $bold;
              color: $black;
              background-color: transparent;
              border: none;
              width: 100%;

              &::placeholder {
                  color: #000000;
              }

              @include media-breakpoint-down(lg) {
                  font-size: 1.4rem;
              }
          }
      }



  }

  .size_select {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 9px;

      @include media-breakpoint-down(sm) {
          flex-wrap: wrap;
      }

      .nice-select {
          @include media-breakpoint-down(sm) {
              width: calc(100% / 2 - 9px);
          }
      }
  }

  .select_radio {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
          gap: 7px;
          display: flex;
          justify-content: start;
          align-items: center;

          input {
              width: 2rem;
              height: 2rem;
              accent-color: $secondary;
          }

          h6 {
              font-size: 1.6rem;
              font-weight: $bold;
              color: $secondary;
              margin-top: 3px;

              @include media-breakpoint-down(lg)  {
                  font-size: 1.4rem;
              }
          }
      }
  }

  .search_btn {
      padding: 1.1rem 2.5rem;
      background: $primary;
      font-size: 1.6rem;
      font-weight: 700;
      color: white;
      border: none;
      height: 60px;
      transition: .3s ease-in-out;
      border: 1px solid transparent;

      @include media-breakpoint-down(lg)  {
          height: 50px;
          font-size: 1.4rem;
      }

      @include media-breakpoint-down(lg) {
          display: block;
          width: 100%;
      }

      &:hover {
          color: $secondary;
          border: 1px solid $secondary;
          background: $white;
          transition: .3s ease-in-out;
      }


  }
}


.size_select {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;

  @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
  }

  .nice-select {
      @include media-breakpoint-down(sm) {
          width: calc(100% / 2 - 9px);
      }
  }
}









.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 3.2rem;
  position: relative;
  z-index: 9;


  li {
    width: 40px;
    height: 40px;
    padding: 5px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.6rem;
      font-weight: $medium;
      color: #151515;
    }

    &.active {
      background: $primary;
      a {
        
        color: $white;
      }
    }
  }
}



.order_box {
  padding: 3rem 4.5rem 4.5rem 4.5rem;
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  // box-shadow: 0px 4px 100px 0px #0000001A;
  // background-color: rgb(0 0 0 / 67%);
  max-width: 114rem;
  width: 100%;
  margin: auto;
  z-index: 4;

  @include media-breakpoint-down(sm) {
      padding: 3rem 1.5rem 4.5rem 1.5rem;
  }
  

  &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #19715C;
      height: 6px;
      z-index: 9;
      display: none !important;
  }

  h2 {
      font-size: 4rem;
      color: $white;
      font-weight: $bold;
      text-align: start;
      max-width: 57.5rem;
      width: 100%;
      text-transform: uppercase ;

      @include media-breakpoint-down(sm) {
          font-size: 3.5rem;
      }

      span {
        color: $primary;
      }
  }

  .nav {
      justify-content: start;
      margin-top: 3rem;
      margin-bottom: 0 !important;

      .nav-item {
          // padding: 1.4rem 3rem 0 3rem;
          // background-color: transparent;

          // @include media-breakpoint-down(sm) {
          //     padding: 1.4rem 1rem 0 1rem;
          // }

          .nav-link {
              font-size: 1.6rem;
              font-weight: $medium;
              color: $white;
              padding: 1.4rem 3rem 1.4rem 3rem;
              border-radius: 20px 20px 0 0;

              &.active {
                  background-color: $primary;
                  position: relative;
                  color: $white;
                  font-weight: $semibold;
                  

                  // &:after {
                  //     content: "";
                  //     position: absolute;
                  //     background: $primary;
                  //     border-radius: 100px, 100px, 0px, 0px;
                  //     height: 3px;
                  //     width: 100%;
                  //     bottom: 0;
                  //     left: 0;
                  // }
              }

          }
      }

  }

  .tab-content {
    position: relative;
    z-index: 9;
      .tab-pane {
        border-radius: 0 0 3rem 3rem;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
        box-shadow: none;
        padding: 3rem 2.1rem;
        border: 1px solid rgb(255 255 255 / 20%);

          .register_wrapper {
              display: flex;
              justify-content: space-between;
              gap: 2rem;
              align-items: center;

              @include media-breakpoint-down(lg) {
                  flex-wrap: wrap;
                  flex-direction: column;
              }
              .register_box {
                  background-color: #FFCD02;
                  border: 2px solid $black;
                  height: 6rem;
                  padding: 1.5rem 1.5rem 1.5rem 0;
                  max-width: 41.9rem;
                  width: 100%;
                  display: flex;
                  justify-content: start;
                  position: relative;
                  padding-left: 2.5rem;
                  display: flex;
                  align-items: center;
                  border-radius: 2rem;
                  overflow: hidden;

                  @include media-breakpoint-down(lg) {
                      height: 50px;
                  }

                  @include media-breakpoint-down(lg) {
                      max-width: 23rem;
                  }

                  @include media-breakpoint-down(lg) {
                      max-width: 100%;
                  }

                


                  .blue_box {
                      background-color: #2655DA;
                      max-width: 2rem;
                      width: 100%;
                      height: 56px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column  ;
                      gap: 6px;

                      @include media-breakpoint-down(lg) {
                          height: 46px;
                      }
                  

                      h6 {
                          font-size: 9px;
                          font-weight: $bold;
                          color: $white;
                          line-height: 2.4rem;
                      }

                  }

                  .input_group {
                      input {
                          font-size: 1.8rem;
                          font-weight: $bold;
                          color: $black;
                          background-color: transparent;
                          border: none;
                          width: 100%;

                          &::placeholder {
                              color: #000000;
                          }

                          @include media-breakpoint-down(lg) {
                              font-size: 1.4rem;
                          }
                      }
                  }



              }

              .size_select {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  gap: 9px;

                  @include media-breakpoint-down(sm) {
                      flex-wrap: wrap;
                  }

                  .nice-select {
                      @include media-breakpoint-down(sm) {
                          width: calc(100% / 2 - 9px);
                      }
                  }
              }

              .select_radio {
                  display: flex;
                  align-items: center;
                  gap: 2rem;

                  li {
                      gap: 7px;
                      display: flex;
                      justify-content: start;
                      align-items: center;

                      input {
                          width: 2rem;
                          height: 2rem;
                          accent-color: #af7004;
                      }

                      h6 {
                          font-size: 1.6rem;
                          font-weight: $bold;
                          color: $secondary;
                          margin-top: 3px;

                          @include media-breakpoint-down(lg)  {
                              font-size: 1.4rem;
                          }
                      }
                  }
              }

              .search_btn {
                  padding: 1.1rem 2.5rem;
                  background: $primary;
                  font-size: 1.6rem;
                  font-weight: 700;
                  color: white;
                  border: none;
                  height: 60px;
                  transition: .3s ease-in-out;
                  border: 1px solid transparent;
                  border-radius: 3rem !important;

                  @include media-breakpoint-down(lg)  {
                      height: 50px;
                      font-size: 1.4rem;
                  }

                  @include media-breakpoint-down(lg) {
                      display: block;
                      width: 100%;
                  }

                  &:hover {
                      color: $secondary;
                      border: 1px solid $secondary;
                      background: $white;
                      transition: .3s ease-in-out;
                  }


              }
          }
      }
  }

}









.tyre_page .filtered_tyrelist .filter_wrapper .size_select {
  margin-top: 0 !important;
}


.tyre_page .filtered_tyrelist  {
  .nav {
    justify-content: center;
    margin-top: 3rem;
    position: relative;
    z-index: 7;
  
    .nav-item {
        padding: 1.4rem 3rem 0 3rem;
        background-color: #F1F1F1;
  
        @include media-breakpoint-down(sm) {
            padding: 1.4rem 1rem 0 1rem;
        }
  
        .nav-link {
            font-size: 1.6rem;
            font-weight: $medium;
            color: #676767;
            padding: 0;
            padding-bottom: 1.1rem;
  
            &.active {
                background-color: unset;
                position: relative;
                color: $secondary;
                font-weight: $semibold;
  
                &:after {
                    content: "";
                    position: absolute;
                    background: $primary;
                    border-radius: 100px, 100px, 0px, 0px;
                    height: 3px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                }
            }
  
        }
    }
  
  }
  
  .tab-content {
    .tab-pane {
        background-color: rgba(0, 0, 0 , .1);
        border: 3rem;
        box-shadow: 0px 0px 40px 0px #00000033;
        padding: 3rem 2.1rem;
  
        .register_wrapper {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            align-items: center;
  
            @include media-breakpoint-down(lg) {
                flex-wrap: wrap;
                flex-direction: column;
            }
            .register_box {
                background-color: #FFCD02;
                border: 2px solid $black;
                height: 6rem;
                padding: 1.5rem 1.5rem 1.5rem 0;
                max-width: 41.9rem;
                width: 100%;
                display: flex;
                justify-content: start;
                position: relative;
                padding-left: 2.5rem;
                display: flex;
                align-items: center;
  
                @include media-breakpoint-down(lg) {
                    height: 50px;
                }
  
                @include media-breakpoint-down(lg) {
                    max-width: 23rem;
                }
  
                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }
  
              
  
  
                .blue_box {
                    background-color: #2655DA;
                    max-width: 2rem;
                    width: 100%;
                    height: 56px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column  ;
                    gap: 6px;
  
                    @include media-breakpoint-down(lg) {
                        height: 46px;
                    }
                
  
                    h6 {
                        font-size: 9px;
                        font-weight: $bold;
                        color: $white;
                        line-height: 2.4rem;
                    }
  
                }
  
                .input_group {
                    input {
                        font-size: 1.8rem;
                        font-weight: $bold;
                        color: $black;
                        background-color: transparent;
                        border: none;
                        width: 100%;
  
                        &::placeholder {
                            color: #000000;
                        }
  
                        @include media-breakpoint-down(lg) {
                            font-size: 1.4rem;
                        }
                    }
                }
  
  
  
            }
  
            .size_select {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 9px;
  
                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                }
  
                .nice-select {
                    @include media-breakpoint-down(sm) {
                        width: calc(100% / 2 - 9px);
                    }
                }
            }
  
            .select_radio {
                display: flex;
                align-items: center;
                gap: 2rem;
  
                li {
                    gap: 7px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
  
                    input {
                        width: 2rem;
                        height: 2rem;
                        accent-color: $secondary;
                    }
  
                    h6 {
                        font-size: 1.6rem;
                        font-weight: $bold;
                        color: $secondary;
                        margin-top: 3px;
  
                        @include media-breakpoint-down(lg)  {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
  
            .search_btn {
                padding: 1.1rem 2.5rem;
                background: $primary;
                font-size: 1.6rem;
                font-weight: 700;
                color: white;
                border: none;
                height: 60px;
                transition: .3s ease-in-out;
                border: 1px solid transparent;
  
                @include media-breakpoint-down(lg)  {
                    height: 50px;
                    font-size: 1.4rem;
                }
  
                @include media-breakpoint-down(lg) {
                    display: block;
                    width: 100%;
                }
  
                &:hover {
                    color: $secondary;
                    border: 1px solid $secondary;
                    background: $white;
                    transition: .3s ease-in-out;
                }
  
  
            }
        }
    }
  }
}

div#pills-tabContent {
  position: relative;
  z-index: 7;
}



.specs {
  li {
      padding: 4px 12.5px;
      display: flex;
      align-items: center;
      gap: 3px;
      width: fit-content;

      &.fuel {
          background-color: #EA1303;
      }
      &.rain {
          background-color: #DED53A;
      }
      &.Speaker {
          background-color: #676767;
      }

      h6 {
          font-size: 1.6rem;
          font-weight: $medium;
          color: $white;
      }

  }
}

.order_btn {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  
  button {
    background: $primary;
    max-width: 21.9rem;
    width: 100%;
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: $bold;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
  }
}


.size_select {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 9;


  .nice-select {
      border-radius: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 500;

      @media (max-width: 575.98px)  {
          width: unset !important;
      }
  }
}

.filtered_items {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 24px;
  position: relative;
  z-index: 9;
  .list {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1.5rem;
      flex-wrap: wrap;

      .points {
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 5px 16px 5px 16px;
          border-radius: 33px;
          background-color: #F5F5F5;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;


          .brand_list {
              h5 {
                  font-size: 10px;
                  font-weight: $medium;
                  color: #666666;
              }
              h6 {
                  font-size: 14px;
                  font-weight: $medium;
                  color: #000000;
                  margin-top: 4px;

                  @include media-breakpoint-down(sm)  {
                      font-size: 13px;
                  }
              }
          }

      }
  }

  .clear_items{
    position: relative;
    z-index: 9;
      border-radius: 33px;
      border: 1px solid #FFFFFF;
      height: 50px;
      display: flex;
      padding: 5px 16px 5px 16px;
      justify-content: start;
      gap: 14px;
      align-items: center;
      white-space: nowrap;

      @include media-breakpoint-down(sm)  {
          height: 40px;
          padding: 5px 10px 5px 10px;
      }



      h5 {
          font-size: 16px;
          font-weight: $medium;
          color: #FFFFFF;

          @include media-breakpoint-down(sm)  {
              font-size: 14px;
          }
      }

      svg {
          path {
              stroke: $white;
          }
      }
  }
}





//checkout pop

.chekout_pop {


  .continue_btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
    button {
      font-weight: $bold;
      font-size: 2rem;
      color: $white;
      padding: 1rem;
      background: $primary;
      border: none;
      max-width: 21.9rem;
      width: 100%;
      margin: auto;

    }
  }

  .modal-dialog {

    @media (min-width: 576px) {
      max-width: 103.8rem !important;
    }


    .modal-content {
      .modal-header {
        background-color: #10A711;
        display: flex;
        justify-content: center;
        .particle_img {
          position: absolute;
          top: 0;
          left: 0;

          img {
            max-width: 29rem;
            width: 100%;
          }
        }
      }

      .modal-body {
        h2 {
          font-size: 3.6rem;
          font-weight: $bold;
          background-image: linear-gradient(180deg, #19715C 0%, #3E3B92 100%);
          background-clip: text;
          color: transparent;
          text-align: center;
          margin-top: 2rem;
        }
        h5 {
          font-weight: $medium;
          font-size: 1.6rem;
          color: #666666;
          margin-top: 3px;
          text-align: center;
        }
        h4 {
          font-size: 2rem;
          font-weight: $semibold;
          color: $black;
          margin-top: 10px;  
          text-align: center;
        }

        


      }

    }
  }
}



.chekout_itemwrapper {
  .cart_item {
      margin-top: 1rem;
      padding: 1.5rem 5rem 1.5rem 1.5rem;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      max-width: 80.5rem;
      width: 100%;
      position: relative;
      flex-wrap: wrap;

      &:last-child {
        padding-bottom: 1.9rem;
      }

      @include media-breakpoint-down(xl) {
          flex-wrap: wrap;
      }
      @include media-breakpoint-down(xl) {
          max-width: 100%;
      }

      .close {
          position: absolute;
          top: 1rem;
          right: 1rem;
      }

      .item_details {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1.5rem;

          @include media-breakpoint-down(sm) {
              flex-wrap: wrap;
          }

          .cart_img {
              max-width: 6rem;
              width: 100%;

              img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }
          }

          .item_name {
              h3 {
                  font-weight: $semibold;
                  font-size: 2rem;
                  color: $black;
              }

              ul {
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  margin-top: 1.5rem;

              }
              .price {
                  margin-top: .5rem;
                  h5 {
                      font-size: 1.8rem;
                      font-weight: $bold;
                      color: $black;
                      @include media-breakpoint-down(sm) {
                          font-size: 1.6rem;
                      }
                  }
              }
          }

         



      }
      .quantity_wrapper {
          display: flex;
          justify-content: start;
          align-items: start;
          gap: 2.5rem;

          @include media-breakpoint-down(sm) {
              gap: 1rem;
              flex-wrap: wrap;
          }
        
          .price {
              h5 {
                  font-size: 1.8rem;
                  font-weight: $semibold;
                  color: $black;
              }
              .quantity {
                  margin-top: 10px;
                  h4 {
                      font-size: 12px;
                      font-weight: $semibold;
                      color: #B0B0B0;
                      text-align: end;

                      span {
                          color: $black;
                      }
                  }
              }
          }

         

        
      }

  }
}

.modal_checkwrapper {
  padding: 2rem 4rem;
  background-color: #F5F5F5;
  max-width: 73.2rem;
  width: 100%;
  margin: auto;
  margin-top: 2rem;

  .product_head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      font-size: 1.6rem;
      font-weight: $medium;
      color: #666666;
    }
  }
  .grand_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 2.7rem;
    border-top: 1px solid #666666;
    margin-top: 2rem;

    h6 {
      font-size: 2rem;
      font-weight: $medium;
      color: #666666;
    }

    h5 {
      font-size: 2rem;
      font-weight: $bold;
      color: #000000;
    }

  }
}

.pay_mainbtn {
  cursor: pointer;
}

.chekout_pop .modal-dialog .modal-content .modal-header {
  position: relative;
}

.chekout_pop .modal-dialog .modal-content .modal-header .particle_img {
  height: 100%;
}
.chekout_pop .modal-dialog .modal-content .modal-header .particle_img img {
  height: 100%;
}

.tyre_Listing .container .row .listing_ul li .add_cart {
  margin: 15px 0 12px 0
}

.home_page .banner_section .order_box .tab-content .tab-pane .register_wrapper .size_select {
  margin: 0;
}

.home_page .tyre_Listing .listing_ul li .add_cart {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#47B298), to(#19715C));
  background: $primary;
  padding: 1.3rem;
  height: 44px;
  width: 100%;
  border-radius: 24px;
  border: none;
}

.home_page .tyre_Listing .listing_ul li .specs li {
  width: 100% !important;
}

.home_page .tyre_Listing .listing_ul li p  {
  font-size: 1.5rem;
  color: $black;
  font-weight: $regular;
  margin: 10px 0;
  padding-right: 50px;
  min-height: 67.5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.nice-select .list {
  max-height: 250px;
  overflow-y: auto;
}

.fitting_centers {
  z-index: 3 !important;
}

.tyre_page .filtered_tyrelist .filter_wrapper .listing_ul li p {
  font-size: 1.5rem;
  color: $black;
  font-weight: $regular;
  margin: 10px 0;
  min-height: 67.5px;
  padding-right: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.banner_section .order_box .tab-content .tab-pane .register_wrapper .size_select {
  margin-top: 0;
}

.tyre_page .filtered_tyrelist .filter_wrapper .listing_ul li h3 {
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.home_page .tyre_Listing .listing_ul li p {
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}