.home_page {
    .banner_section{
        background-image: url(../images/banner.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 440px;
        // margin-top: -10rem;
        background-size: contain;
        background-position: right;
        position: relative;

        @include media-breakpoint-down(md) {
            margin-top: 0;
        }

        @include media-breakpoint-up(xl) {
            height: 540px;
        }

        .order_box {
            padding: 3rem 4.5rem 4.5rem 4.5rem;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            // box-shadow: 0px 4px 100px 0px #0000001A;
            // background-color: rgb(0 0 0 / 67%);
            max-width: 114rem;
            width: 100%;
            margin: auto;
            z-index: 4;

            @include media-breakpoint-down(sm) {
                padding: 3rem 1.5rem 4.5rem 1.5rem;
            }
            
    
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: $primary;
                height: 6px;
                z-index: 9;
            }
    
            h2 {
                font-size: 4rem;
                color: $white;
                font-weight: $bold;
                text-align: start !important;
    
                @include media-breakpoint-down(sm) {
                    font-size: 3.5rem;
                }
            }
    
            .nav {
                justify-content: start;
                margin-top: 3rem;
    
                .nav-item {
                    padding: 1.4rem 3rem 0 3rem;
                    background-color: #F1F1F1;
    
                    @include media-breakpoint-down(sm) {
                        padding: 1.4rem 1rem 0 1rem;
                    }
    
                    .nav-link {
                        font-size: 1.6rem;
                        font-weight: $medium;
                        color: #676767;
                        padding: 0;
                        padding-bottom: 1.1rem;
    
                        &.active {
                            background-color: unset;
                            position: relative;
                            color: $secondary;
                            font-weight: $semibold;
    
                            &:after {
                                content: "";
                                position: absolute;
                            background: $primary;
                                border-radius: 100px, 100px, 0px, 0px;
                                height: 3px;
                                width: 100%;
                                bottom: 0;
                                left: 0;
                            }
                        }
    
                    }
                }
    
            }
    
            .tab-content {
                .tab-pane {
                    background-color: $white;
                    box-shadow: 0px 0px 40px 0px #00000033;
                    padding: 3rem 2.1rem;
    
                    .register_wrapper {
                        display: flex;
                        justify-content: space-between;
                        gap: 2rem;
                        align-items: center;
    
                        @include media-breakpoint-down(lg) {
                            flex-wrap: wrap;
                            flex-direction: column;
                        }
                        .register_box {
                            background-color: #FFCD02;
                            border: 2px solid $black;
                            height: 6rem;
                            padding: 1.5rem 1.5rem 1.5rem 0;
                            max-width: 41.9rem;
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            position: relative;
                            padding-left: 2.5rem;
                            display: flex;
                            align-items: center;
    
                            @include media-breakpoint-down(lg) {
                                height: 50px;
                            }
    
                            @include media-breakpoint-down(lg) {
                                max-width: 23rem;
                            }
    
                            @include media-breakpoint-down(lg) {
                                max-width: 100%;
                            }
    
                          
    
    
                            .blue_box {
                                background-color: #2655DA;
                                max-width: 2rem;
                                width: 100%;
                                height: 56px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column  ;
                                gap: 6px;
    
                                @include media-breakpoint-down(lg) {
                                    height: 46px;
                                }
                            
    
                                h6 {
                                    font-size: 9px;
                                    font-weight: $bold;
                                    color: $white;
                                    line-height: 2.4rem;
                                }
    
                            }
    
                            .input_group {
                                input {
                                    font-size: 1.8rem;
                                    font-weight: $bold;
                                    color: $black;
                                    background-color: transparent;
                                    border: none;
                                    width: 100%;
    
                                    &::placeholder {
                                        color: #000000;
                                    }
    
                                    @include media-breakpoint-down(lg) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
    
    
    
                        }

                        .size_select {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 9px;

                            @include media-breakpoint-down(sm) {
                                flex-wrap: wrap;
                            }

                            .nice-select {
                                @include media-breakpoint-down(sm) {
                                    width: calc(100% / 2 - 9px);
                                }
                            }
                        }
    
                        .select_radio {
                            display: flex;
                            align-items: center;
                            gap: 2rem;
    
                            li {
                                gap: 7px;
                                display: flex;
                                justify-content: start;
                                align-items: center;
    
                                input {
                                    width: 2rem;
                                    height: 2rem;
                                    accent-color: $secondary;
                                }
    
                                h6 {
                                    font-size: 1.6rem;
                                    font-weight: $bold;
                                    color: $secondary;
                                    margin-top: 3px;
    
                                    @include media-breakpoint-down(lg)  {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
    
                        .search_btn {
                            padding: 1.1rem 2.5rem;
                        background: $primary;
                            font-size: 1.6rem;
                            font-weight: 700;
                            color: white;
                            border: none;
                            height: 60px;
                            transition: .3s ease-in-out;
                            border: 1px solid transparent;
    
                            @include media-breakpoint-down(lg)  {
                                height: 50px;
                                font-size: 1.4rem;
                            }
    
                            @include media-breakpoint-down(lg) {
                                display: block;
                                width: 100%;
                            }

                            &:hover {
                                color: $secondary;
                                border: 1px solid $secondary;
                                background: $white;
                                transition: .3s ease-in-out;
                            }


                        }
                    }
                }
            }
    
        }

    }

    .inear_banner {
        position: relative;
        height: 280px;

        @include media-breakpoint-down(xl) {
            height: auto;
        }

        .inear_wrapper {
            background-image: url(../images/bannersecond_banner.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 280px;
            margin-top: 0;
            background-size: cover;
            background-position: center;
            position: relative;
            padding-bottom: 5rem;

            @include media-breakpoint-down(xl) {
                height: unset;
            }


         

            .tyre_warehouselabel {
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                max-width: 122.2rem;
                margin: auto;

                
                @include media-breakpoint-down(xl) {
                    position: absolute;
                    bottom: 0;
                    top: unset;
                }

                @include media-breakpoint-down(sm)  {
                    bottom: 20%;
                }

                img {
                    max-width: 122.2rem;
                    width: 100%;
                    margin: auto;
                }
            }
    

            .fitting_centers {
                display: flex;
                justify-content: space-between;
                align-items: start;
                max-width: 89.7rem;
                width: 100%;
                margin: auto;
                padding-top: 7.1rem;
                position: relative;
                z-index: 4;
                gap: 2rem;

                @include media-breakpoint-down(xl) {
                    padding-top: 26.1rem;
                }

                @include media-breakpoint-down(lg) {
                    padding-top: 34.1rem;
                }

                @include media-breakpoint-down(sm)  {
                    align-items: center;
                    flex-direction: column;
                }

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .service_icon {

                           @include media-breakpoint-down(md) {
                            width: 40px;
                            height: 40px;
                           }

                           @include media-breakpoint-down(md) {
                            img {
                                width: 100%;
                                height: 100%;
                            }
                           }

                       
                    }


                    h4 {
                        font-size: 1.6rem;
                        font-weight: $bold;
                        color: $white;
                        margin-top: 1rem;
                        text-align: center;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: $regular;
                        color: $white;
                        text-align: center;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

   .step_section {
    background-image: url(../images/step_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10rem 0;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
        width: 100%;
        height: 100%;
    }


    .step_tyre{
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            max-width: 49rem;
            width: 100%;
        }
    }

    h2 {
        font-size: 3.6rem;
        font-weight: $bold;
        color: $white;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;

        @include media-breakpoint-down(lg)  {
            white-space: unset;
            max-width: 40rem;
            width: 100%;
        }

        img {
            position: absolute;
            top: -25px;
            left: -30px;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }


        span {
            color: $primary;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.2rem;
        margin-top: 7rem;
        position: relative;

        @include media-breakpoint-down(xl) {
            flex-wrap: wrap;
            row-gap: 6rem;
        }



        @include media-breakpoint-down(sm)  {
            flex-direction: column;
            gap: 6.2rem;
        }

        .line {
            position: absolute;
            top: 0;
            left: 0;

            @include media-breakpoint-down(xl) {
                display: none;
            } 

            svg {
                path {
                    stroke: $primary;
                }
            }
        }


        li {
            background: $white;
            padding: 1.4rem;
            align-self: start;
            width: calc(100% / 4 - 2rem);
            border-bottom: 5px solid $primary;
            position: relative;
            z-index: 9;
            transition: .2s ease-in-out;
            cursor: pointer;
            align-self: stretch;

            @include media-breakpoint-down(xl)  {
                width: calc(100% / 2 - 2rem);
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            // &:nth-child(odd) {
            //     margin-top: 4.5rem;

            //     @include media-breakpoint-down(sm) {
            //         margin-top: 0;
            //     }
            // }

            &:hover {
                background: $primary !important;
                border-bottom: 5px solid $secondary;
                transition: .2s ease-in-out;

                .count {
                    background-color: $secondary !important;
                    color: $white;
                    transition: .2s ease-in-out;
                }

                h3 {
                    color: $white !important;
                    transition: .2s ease-in-out;
                }
                p {
                    color: $white !important;
                    transition: .2s ease-in-out;
                }
            }

          

            .count{
                width: 6.2rem;
                height: 6.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $white;
                font-size: 3.4rem;
                color: $secondary;
                font-weight: $bold;
                box-shadow: 0px 9px 5.3px 0px #00000052;
                background: white;
                margin-top: -45px;
                margin-left: 14px;
                transition: .2s ease-in-out;


                @include media-breakpoint-down(sm)  {
                    // margin-top: 0;
                    margin-left: 0;
                }

            }

            h3 {
                font-size: 2.4rem;
                font-weight: $bold;
                color: $black;
                margin-top: 10px;
                transition: .2s ease-in-out;
            }

            p {
                font-size: 1.3rem;
                font-weight: $regular;
                color: $black;
                margin-top: 5px;
                transition: .2s ease-in-out;
            }

        }
    }
   }

    .tyre_Listing {
        background-image: url(../images/listing_banner.png);
        padding: 7.5rem 0 15rem 0;
        position: relative;

        &::after {
            background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .listing_head {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-left: auto;
            gap: 20rem;
            position: relative;
            z-index: 9;

            @include media-breakpoint-down(lg)  {
                gap: 2rem;
                justify-content: space-between;
            }

            h2 {
                font-size: 3.6rem;
                font-weight: $bold;
                color: $white;
                text-transform: uppercase;
                white-space: nowrap;
                position: relative;

                @include media-breakpoint-down(lg)  {
                    white-space: unset;
                    max-width: 40rem;
                    width: 100%;
                }

                img {
                    position: absolute;
                    top: -25px;
                    left: -30px;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }


                span {
                    color: $primary;
                }
            }

            a {
                font-size: 1.8rem;
                font-weight: $bold;
                color: $white;
                border-radius: 3rem;
                border: 1px solid $white;
                pad: 1rem 1.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap ;
                max-width: 8.6rem;
                width: 100%;

                @include media-breakpoint-down(lg) {
                    max-width: 10rem;
                    padding: 10px;
                    height: fit-content;
                }
            }
        }

        .listing_ul {
            display: flex;
            justify-content: start;
            align-items: start;
            margin-top: 5.3rem;
            flex-wrap: wrap;
            gap: 2rem;
            position: relative;
            z-index: 9;
            
            li {
                width: calc(100% / 4 - 2rem);
                padding: 2.4rem 2.4rem 0 2.4rem;
                border: 1px solid #C1C1C1;
                background-color: rgba(255, 255, 255 , .1);
                border-radius: 2.4rem;
                
                position: relative;

                @include media-breakpoint-down(xl)  {
                    width: calc(100% / 3 - 2rem);
                }

                @include media-breakpoint-down(lg)  {
                    width: calc(100% / 2 - 2rem);
                }

                @include media-breakpoint-down(sm)  {
                    width: 100%;
                }

                .specs {
                    position: relative;
                    margin-top: -30px;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    
                    li {
                        padding: 4px 12.5px;
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        width: fit-content !important;
                        border-radius: 0;
                        border: none;

                        &.fuel {
                            background-color: #EA1303;
                            border-radius: 24px 0 0 24px;
                        }
                        &.rain {
                            background-color: #DED53A;
                        }
                        &.Speaker {
                            background-color: #676767;
                            border-radius: 0 24px 24px 0;
                        }

                        h6 {
                            font-size: 1.6rem;
                            font-weight: $medium;
                            color: $white;
                        }

                    }
                }
                
                h3 {
                    font-size: 2rem;
                    font-weight: $semibold;
                    color: $white;
                    text-align: center;
                    margin-top: 14px;
                }

                h4 {
                    font-size: 3.4rem;
                    font-weight: $bold;
                    color: $white;
                    text-align: center;
                    margin-top: 1.8rem;
                    margin-top: 5px;
                }

                .product_img1 {
                   
                    display: flex;
                    justify-content: center;
                    max-width: 17.3rem;
                    width: 100%;
                    margin: auto;
                    margin-top: 0;

                    img {
                        width: 100%;
                    }
                }

            }
            
        }


    }

    .tyrebrand_section {
        position: relative;
        padding-bottom: 10rem;
        h2 {
            font-size: 3.6rem;
            font-weight: $bold;
            color: $white;
            text-transform: uppercase;
            white-space: nowrap;
            position: relative;
            text-align: center;
            margin: auto;
            width: fit-content;
            z-index: 9;

            @include media-breakpoint-down(lg)  {
                white-space: unset;
                max-width: 40rem;
                width: 100%;
            }

            img {
                position: absolute;
                top: -25px;
                left: -30px;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }


            span {
                color: $primary;
            }
        }

       

        .brand_swiperwrapper {
            margin-top: 10rem;
            .brands_backgrnd {
                position: absolute;
                top: 8%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                img {
                    width: 100%;
                    max-width: 122rem;
                    display: flex;
                    margin: auto;
                }
    
            }

            .swiper-pagination-bullet {
              
                background: white !important;
                width: 54px;
                height: 5px;
                border-radius: 16px;
            }
            .brands_slider {
            padding-bottom: 20rem;
            padding-top: 10rem;

            @include media-breakpoint-down(md) {
                padding-bottom: 10rem;
                padding-top: 0;
            }

                #brand_dots {
                    position: absolute;
                    bottom: 0;
                }
    
                .brand_img{
                    position: relative;
    
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        background-image: url(../images/brand_elipse.png);
                        width: 16.1rem;
                        height: 16.1rem;
                        background-size: contain;
                        transform: translate(-50%, -50%);
                        z-index: 1;
    
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
    
                    }
                    img {
                        width: 100%;
                        position: relative;
                        z-index: 9;
        
                      
        
                    }
                }       
    
            }
        }


    }


    .tyre_typesection {
        padding: 12rem 0;

        @include media-breakpoint-down(md) {
            padding: 0 0 12rem 0;
        }

        h2 {
            font-size: 3.6rem;
            font-weight: $bold;
            color: $white;
            text-transform: uppercase;
            white-space: nowrap;
            position: relative;
            text-align: center;
            margin: auto;
            width: fit-content;
            z-index: 9;
            margin-left: 0;

            @include media-breakpoint-down(lg)  {
                white-space: unset;
                max-width: 40rem;
                width: 100%;
            }

            img {
                position: absolute;
                top: -25px;
                left: -30px;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }


            span {
                color: $primary;
            }
        }



        .tyretype_banner {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            img {
                @include media-breakpoint-down(md) {
                    width: 100%;
                } 
            }
        }

        h2 {
            margin-top: 14rem;

            @include media-breakpoint-down(md) {
                margin-top: 5rem;
            }
            
        }

        h3 {
            font-size: 3.6rem;
            font-weight: $bold;
            color: $white;
            text-transform: uppercase;
            white-space: nowrap;
            position: relative;
            text-align: center;
            margin: auto;
            width: fit-content;
            z-index: 9;
            padding-bottom: 25.5rem;
            margin-top: 4rem;
            text-align: end;
            margin-right: 0;

            @include media-breakpoint-down(lg)  {
                white-space: unset;
                max-width: 40rem;
                width: 100%;
            }

            @include media-breakpoint-down(md)  {
                padding-bottom: 0;
                max-width: 100%;
                margin-top: 10rem;
            }

            img {
                position: absolute;
                top: -25px;
                left: -30px;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }


            span {
                color: $primary;
            }
        }


        .type_ul {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 4rem;
            margin-top: 21rem;
            position: relative;

            @include media-breakpoint-down(xl) {
                flex-wrap:wrap;
        }

        

            &::after {
                background-image: url(../images/tyres_label.png);
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 49rem;
                background-size: contain;

                @include media-breakpoint-down(lg) {
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            li {
                width: calc(100% / 4 - 4rem);
                position: relative;
                z-index: 9;
                
                @include media-breakpoint-down(xl) {
                    width: calc(100% / 2 - 4rem);
                }

                @include media-breakpoint-down(md) {
                    width: 100%;
                }

                .type_image {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    margin-bottom: -4rem;

                    img {
                        max-width: 17.6rem;
                        width: 100%;
                        height: 100%;
                    }
                }

                .type_box {
                    padding: 1.9rem;
                    font-size: 1.8rem;
                    color: #FFFFFF;
                    background-color: rgba(255, 255, 255 , .1);
                    font-weight: 400;
                    border-radius: 2.4rem;
                    border-bottom: 4px solid #E59000;
                    padding-top: 7rem;
                    text-align: center;
                }
            }
        }

        
    }



    .faq_section {
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 12rem;
        justify-content: center;

        @include media-breakpoint-down(xl) {
            flex-direction: column;
            gap: 3rem;
        }

        @include media-breakpoint-up(xxl) {
            justify-content: center !important;
        }


        .faq_elipse1 {
            position: absolute;
            top: 0;
            right: 0;

            @include media-breakpoint-down(xl)  {
                display: none;
            }
        }

        .faq_elipse2 {
            position: absolute;
            top: 0;
            left: 0;

            @include media-breakpoint-down(xl)  {
                display: none;
            }
        }

        .faq_tyre {
            position: absolute;
            bottom: 0;
            right: 0;

            @include media-breakpoint-down(xl)  {
                display: none;
            }
        }





    
        .faq_banner {
            position: relative;
            max-width: 103.5rem;
            width: 100%;
            background-image: url(../images/faq_banner.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;


            .faq_head {
                font-size: 3.6rem;
                font-weight: $bold;
                color: $white;
                text-transform: uppercase;
                white-space: nowrap;
                position: relative;
                text-align: center;
                margin: auto;
                width: fit-content;
                z-index: 9;
                text-align: center;
    
                @include media-breakpoint-down(lg)  {
                    white-space: unset;
                    max-width: 40rem;
                    width: 100%;
                }
    
                img {
                    position: absolute;
                    top: -25px;
                    left: -30px;
    
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
    
    
                span {
                    color: $primary;
                }
            }


            .faq_accordionWrapper {
                position: relative;
                z-index: 9;
                padding: 7rem 0;

                .sub_heading {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    position: relative;
                    z-index: 9;
    
                    @include media-breakpoint-down(xl) {
                        padding-left: 2rem;
                    }
        
                    h6 {
                        font-size: 1.8rem;
                        font-weight: $medium;
                        color: $white;
                        margin-left: 6px;
                    }
        
                    svg {
                        rect {
                            fill: $white;
                        }
                    }
                }
                h3 {
                    color: $white;
                    display: block;
                    font-size: 3.6rem;
                    font-weight: $bold;
                    width: 100%;
                    margin-top: 1.3rem;
                    position: relative;
                    z-index: 9;
                    line-height: 5.3rem;
    
        
                    @include media-breakpoint-down(sm)  {
                        font-size: 3.2rem;
                        line-height: 4.6rem;
                    }
                }

                .accordion {
                    margin-top: 4rem;

                    .accordion-item {
                        padding: 2rem 3rem;
                        border: 1px solid $white;
                        background-color: transparent;

                        @include media-breakpoint-down(md) {
                            padding: 1.5rem;
                        }

                        &:not(:first-child) {
                            margin-top: 2rem;
                        }

                        .accordion-header {
                            background-color: transparent;
                            .accordion-button {
                                background-color: transparent;
                                box-shadow: none !important;
                                padding: 0;

                                &:after {
                                    background-image: url(../images/icons/dropdwon.svg) !important;
                                    width: 30px;
                                    height: 30px;
                                    background-size: cover !important;
                                }

                                .accorrdion_head {
                                    font-size: 2.2rem;
                                    font-weight: $medium;
                                    color: $white;
                                }
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                font-size: 1.4rem;
                                font-weight: $regular;
                                color: $white;
                                padding: 1rem 0 0 0 !important;
                            }
                        }

                    }
                }

                .seeall_btn {
                    display: flex;
                    justify-content: center;
                    margin-top: 3rem;
                    a {
                        font-size: 1.8rem;
                        font-weight: $bold;
                        color: $white;
                        border-radius: 3rem;
                        border: 1px solid $white;
                        padding: 1rem 1.4rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        white-space: nowrap ;
                        max-width: 8.6rem;
                        width: 100%;
        
                        @include media-breakpoint-down(lg) {
                            max-width: 10rem;
                            padding: 10px;
                            height: fit-content;
                        }
                    }
                }

            }

        }
    }



}